
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose Your Instrument</title>
    <link href="/css/styles.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
      <h1>mechaphonix<h1>
      <h4>choose an instrument:</h4>

      <ul>
        <li><a href="/liquid">liquid</a></li>
        <li><a href="/phone-chord">phone chord</a></li>
        <li><a href="/phone-drum">phone drum</a></li>
        <li><a href="/sequencer">drum sequencer</a></li>
        <li><a href="/midi">midi</a></li>
        <li><a href="/master">master</a></li>
      </ul>
    </div>
    <script>
      document.getElementsByClassName('container')[0].style.height = `${window.innerHeight}px`
    </script>
  </body>
</html>
