*, html {
  border: 0;
  margin: 0px;
  font-size: 120%;
  font-family: firefight; }

.video-container {
 position: fixed;
 width: 100%;
 height: 100%;
 overflow: hidden;
 max-width: 100%;
}

canvas, video {
  position: absolute;
  /* float: left; */
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

canvas {
  opacity: 0.8;
  z-index:999;
}
